body {
    font-family: sans-serif;
}

.dazai {
    width: 960px;
    height: 90px;
    margin-bottom: 30px;
}

.chu {
    width: 100px;
    height: 150px;
    border-left: 5px dotted black;
    margin: 5px;
}

.atsu {
    width: 200px;
    height: 150px;
    border-left: 5px dotted black;
    margin: 5px;
}

.aku {
    width: 225px;
    height: 150px;
    border-left: 5px dotted black;
    margin: 5px;
}

.doppo {
    border-bottom: 3px solid black;
    margin-top: 39px;
    margin-bottom: 56px;
    margin-left: 36px;
    margin-right: 36px;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

main p {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
}

footer {
    background-color: black;
    padding: 3px;
}

footer a {
    text-decoration: none;
    background-color: white;
    padding: 3px;
}

footer p {
    background-color: white;
    padding: 3px;
    margin: 10px;
}
